<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Breakcomply</title>
    <script src="./src/dc-watcher.js"></script>
    <script src="./src/dc-compiler.js"></script>
    <script src="./src/dc-observer.js"></script>
    <script src="./src/dc-vue.js"></script>
  </head>
  <body>
    <div id="app">
      插值表达式-msg-----{{msg}}
      <br /><br />

      v-text-msg
      <span v-text="msg" title="title"></span>
      <br /><br />

      <div>
        vae-大家好，我是-----{{vae}}
        <br /><br />

        v-html-msg2
        <span v-html="msg2"></span>
        <br /><br />

        v-module-vae
        <input type="text" v-model="vae" />
      </div>
      <br /><br />

      v-on
      <button v-on:click="clickFn">点我鸭</button>
      <hr />
      <p>
        车的品牌{{car.brand}}
        <input type="text" v-model="car.brand" />
        <br />
        车的颜色<span v-html="car.color"></span>
      </p>
    </div>

    <script>
      const vm = new Vue({
        // el: '#app',
        el: document.querySelector('#app'),
        data: {
          msg: '[hello world]',
          msg2: '<span style="color: red;">你好世界</span>',
          vae: '[许嵩]',
          car: {
            brand: '[bmw]',
            color: '[<span style="color: orange;">orange</span>]',
          },
        },
        methods: {
          clickFn() {
            console.log(this.$data.msg)
            this.vae = 'vae'
          },
        },
      })
    </script>
  </body>
</html>
